<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">

<div class="container" layout:fragment="content">
    <h1>Add Product</h1>
    <form th:action="@{/product}" method="POST">

        <input type="hidden" name="productId" value="-1"/>
        <!--        <div class="form-group">-->
        <!--            <label for="inputId">Id</label>-->
        <!--            <input type="input" class = "form-control" name="productId" id="inputId">-->
        <!--        </div>-->

        <div class="form-group">
            <label for="inputName">Name</label>
            <input type="input" class = "form-control" name="productName" id="inputName">
        </div>

        <div class="form-group">
            <label for="inputPrice">Price</label>
            <input type="input" class = "form-control" name="productPrice" id="inputPrice">
        </div>

        <div class="form-group">
            <label for="inputStock">Stock</label>
            <input type="input" class = "form-control" name="productStock" id="inputStock">
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>

    <hr>

    <h1>All Products</h1>

    <table border="1px" class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th style="text-align: center;">Id</th>
            <th style="text-align: center;">Name</th>
            <th style="text-align: center;">Price</th>
            <th style="text-align: center;">Stock</th>
            <!--            <th style="text-align: center;">Action</th>-->
            <th style="text-align: center;">Edit</th>
            <th style="text-align: center;">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${allProducts}">
            <td style="text-align: center;" th:text="${product.productId}"></td>
            <td style="text-align: center;" th:text="${product.productName}"></td>
            <td style="text-align: center;" th:text="${product.productPrice}"></td>
            <td style="text-align: center;" th:text="${product.productStock}"></td>
            <!--            <td>-->
            <!--                <a class="btn btn-primary" th:href="@{/product/edit/{id}(id=${product.product_id})}">Edit</a>-->
            <!--            </td>-->
            <td style="text-align: center;"><a class="btn btn-primary" th:href="@{/product/edit/{productId}(productId=${product.productId})}">Edit</a></td>
            <td style="text-align: center;"><a class="btn btn-danger" th:href="@{/product/delete/{productId}(productId=${product.productId})}">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>